p {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.main {
background: linear-gradient(270deg,rgb(248, 123, 143),white);
}
.birth {
  text-align: center;
  font-size: 40px;
  color:crimson;
  margin-bottom: 3px;

}
.Welcome {
  margin-bottom: 160px;
  text-align: center;
 display: inline-block;
  font-size: 33px;
}
.button {
  display: inline-block;
  float:right;
  vertical-align: bottom;
}
.buttonb {
background-color: aliceblue;
 border:2px;
 border-radius: 1px;
 color: black;
 transition:padding 2s;
 padding:5px;
}
.buttonb:hover {
padding:15px;
cursor: pointer;
}
.guide {
  margin-left: 150px;
  font-size: 20px;
  display: inline-block;
margin-top: 2px;
}
.imga { 
  vertical-align: bottom;
  margin-left:200px;
  width:300px;
  border-width: 3px;
}
.imgb {
  vertical-align: bottom;
  width:300px;
  border-width: 3px;
}
.imgc {
  margin-left: 200px;
  height:410px;
  vertical-align: bottom;
  width:300px;
  border-width: 10px;
  object-position: left;
  object-fit: cover;
}



.balloon {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    animation: floatUp linear forwards;
}


/* Balloon string */
.balloon::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 40px;
    background: #555;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* Animation */
@keyframes floatUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-120vh);
        opacity: 0.8;
    }
}
